<%# partial for rendering comments %>
<%# to be referrenced in article show view %>
<p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>

<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>
